system/tmp
system/users/rt4/root/conf/eyeCalendar/conf.xml
system/users/rt4/root/conf/eyeCalendar/calendars/calendarsInfo.xml
system/users/rt4/root/conf/eyeCalendar/calendars/1
system/users/rt4/root/conf/eyeCalendar/calendars/root
system/users/rt4/root/conf/eyeDesk/icons.xml
system/users/rt4/root/conf/eyex