/*
// GPL
*/
body {
	overflow:hidden;
	background-color:#FFFFFF;
	border-spacing:0px;
}

body,table,div {
	font-family: Verdana,Arial,sans-serif,FreeSans; /* oneye */
	font-size:13px;
	font-weight:normal;
}

body,input,textarea,div,table {
	margin:0px;
	padding:0px;
}

iframe,body {
	border:0px;
}

input {
	height:20px;
	border:1px solid #999999;
	padding-left:2px;
	padding-right:2px;
}

#content {
	position:absolute;
	top: 88px; /* oneye */
	left:0px;
	right:0px;
	bottom: 22px; /* oneye */
	width:100%;
	overflow:auto;
}

#multiline {
	display:none;
	position:absolute;
	width:425px;
	top:22px;
	height:250px;
}

#tconsole {
	position:absolute;
	width:400px;
	top:20px;
	left:600px;
	height:250px;
}
.table {
	border-left:1px solid #666666;
	border-top:1px solid #666666;
}

table {min-width: 100%;} /* oneye */

th {
	color:#666666;
	/*background-color:#EFEFEF;*/
	/***************************
	*	oneye edit
	****************************/
	background-color: #eeeeee;
	background-image:url('index.php?theme=USERTHEME&extern=images/windows/bg_top.png');
	background-repeat:repeat-x;
	background-position: bottom;
	border-color: #cccccc; border-style: solid; border-width: 0 1px 1px 0;
/*	border-right:1px solid #666666;
	border-bottom:1px solid #666666;*/
	padding-left:5px;
	padding-right:5px;
}

th div {
	padding:1px;
	font-size:11px;
	font-weight:normal;
	display:inline;
}

td {
	border-right:1px solid #eeeeee/*CCCCCC*/;
	border-bottom:1px solid #eeeeee/*CCCCCC*/;
	height:18px;
	padding-left:4px;
	padding-right:4px;
}

.default_table td {
	border:0px;
}

.header td {
	padding:0px;
	border:0px;
}

.header {
	background-color: #eeeeee; /* oneye */
	width:/*100%*/99%;
	z-index:2;
	margin-top: 1px; /* oneye */
	height: 19px; /* oneye */
	color:#333333;
	padding: 5px; /* oneye */
}

.header a,.header,.footer a,.footer {
	color:#333333;
}


#header #field, #header #value { /* oneye */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color:#aaaaaa #858585 #858585;
	border-style:groove solid solid;
	border-width:2px 1px 1px;
	padding-left: 2px;
}

#header #field,{
	background-color:#f9f9f9;
}


#header td #save, #header td #cancel {/* oneye */
	margin-top:-1px;
}

#header #save { /* oneye */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffff;
	background-image: url(index.php?theme=USERTHEME&extern=images/widgets/buttonbg.png);
	background-repeat: repeat-x;
	background-position: center;
	border-color:#AEAEAE #7F7F7F #7F7F7F #AEAEAE;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	padding: 1px;
	text-shadow:1px 1px 1px #ffffff;
}

#header #save:focus { /* oneye */
	background-image: url(index.php?theme=USERTHEME&extern=images/widgets/buttonbg_press.png);
}

#header #save:hover { /* oneye */
	border-color:#A1C6F3 #6A9BD8 #6A9BD8 #A1C6F3;
}

#header #cancel{ /* oneye */
	background-color:#eeeeee;
	background-image: url('index.php?theme=USERTHEME&extern=images/toolbar/button_cancel.png');
	border-width: 0px;
	color: transparent;
	width: 20px;
}

.footer {
	padding: 4px 0; /* oneye */
	position:absolute;
	border-top:1px solid #666666;
	background-color: #ffffff; /* oneye */
	background: #ffffff url('index.php?theme=USERTHEME&extern=images/windows/toolbar.png') repeat-x bottom ; /* oneye */
	width:100%;
	z-index:2;
	height:/*18*/17px;
	bottom:0px;
}

.status, .statusText {
	position:absolute;
/*	border-top:1px solid #666666;
	border-left:1px solid #666666;*/
/*oneye*/
	background: #ffffff url('index.php?theme=USERTHEME&extern=images/windows/toolbar.png') repeat-x bottom ; /* oneye */
	border-width: 0;
	padding-left: 2px;
/* end */
	z-index:2;
	height:18px;
	bottom:0px;
	right:3px;
	padding-left:5px;
}

.empty {
	padding:0px;
	margin:0px;
	border:0px;
}
.cell_highlight {
	background-color:#FFFFC0;
}
.cell_highlight_over {
	background-color:#EFEFEF;
}
.border_highlight {
	background-color:#C0FFC0;
}
.data {
	display:none;
}
#code {
	width:100%;
	height:78%;
	overflow:auto;
}
#source {
	width:100%;
	height:95%;
}
#focus {
	height:0px;
	position:absolute;
	top:-30px;
}

/* oneye */

.blockbar {
	background-color: #eeeeee;
	border-bottom: 2px ridge #ffffff;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	height: 55px;
	overflow: hidden;
}

.blockbarImg {}

.blockbarItem,.blockbarItem_right, .blockbarItemPress, .blockbarItemPress_right {
	border: 2px solid transparent;
	cursor: pointer;
	margin-top: 3px;
	padding: 2px 4px 3px;
	text-align: center;
	width: auto;
}

.blockbarItem, .blockbarItem:hover, .blockbarItemPress {
	float: left;
	margin-left: 5px;
	width: auto;
}

.blockbarItem_right, .blockbarItem_right:hover, .blockbarItemPress_right {
	float: right;
	margin-right: 5px;
	width: auto;
}

.blockbarItem:hover, .blockbarItem_right:hover, .blockbarItemPress, .blockbarItemPress_right {
	border-style: ridge groove groove ridge;
	border-width: 2px;
}

.blockbarItem:hover, .blockbarItem_right:hover {
	border-color: #80b5ff;
}

.blockbarItemPress, .blockbarItemPress_right {
	border-color: #cccccc;
}

.blockbarline, .blockbarline_right {
	background: transparent url('index.php?theme=USERTHEME&extern=images/windows/top_menu_line.png') no-repeat center;
	float: left;
	height: 40px;
	margin-left: 4px;
	margin-top: 7px;
	width: 3px;
}

.blockbarText {
	color: #333333;
	text-shadow: 2px 2px 2px #ffffff;
	font-size: 9px;
	margin-top: 5px;
}

.blockbarItem:hover, .blockbarItem_right:hover, .blockbarItemPress, .blockbarItemPress_right {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.statusText {
	background-color: #ffffff;
	bottom: 4px;
	height: 18px;
	padding-left: 5px;
	position: absolute;
	right: 40px;
	text-align: right;
	z-index: 2;
}